


    {% include 'navbar.html' %}

      <h1 class="welcome">Welcome to Bug Tracker</h1>
      <hr>
      <h1>New Tickets</h1>
      <a href="/userdetails/{{user.id}}">User Details</a>
        {% for post in ticket %}
        <ul>
            
            <li style="list-style: none;">
                <a href="/tdetails/{{ post.id }}/">{{ post.title }}</a>
                <p>{{post.author}}</p>
                <p>Current status: {{post.status}}</p>
                <p>Assigned to: {{post.assigned_to}}</p>
                <p>Completed by: {{post.completed}}</p>
                
            </li>
            <br>
            <hr>
            </ul>

            
        {% endfor %}
      <h1>In Progress Tickets</h1>
        {% for post in inpr_ticket %}
           <ul> 
            <li style="list-style: none;">
                <a href="/tdetails/{{ post.id }}/">{{ post.title }}</a></li>
                <p>Current status: {{post.status}}</p>
                <p>Assigned to: {{post.assigned_to}}</p>
                <p>Completed by: {{post.completed}}</p>
                
            </li>
            <br>
            <hr>
            </ul>

            
        {% endfor %}
      <h1>Completed Tickets</h1>
        {% for post in completed_ticket %}
          <ul>  
            <li style="list-style: none;">
                <a href="/tdetails/{{ post.id }}/">{{ post.title }}</a></li>
                <p>Current status: {{post.status}}</p>
                <p>Assigned to: {{post.assigned_to}}</p>
                <p>Completed by: {{post.completed}}</p>
                
            </li>
            <br>
            <hr>
            </ul>

            
        {% endfor %}
      <h1>Invalid Tickets</h1>
        {% for post in invalid_ticket %}
        <ul>
            
            <li style="list-style: none;">
                <a href="/tdetails/{{ post.id }}/">{{ post.title }}</a></li>
                <p>Current status: {{post.status}}</p>
                <p>Assigned to: {{post.assigned_to}}</p>
                <p>Completed by: {{post.completed}}</p>
                
            </li>
            <br>
            <hr>
            </ul>

            
        {% endfor %}

      

  

    
